# SolidWorks & CAD
~$*.SLD*
*.bak
*.tmp
*.STL
*.step
*.step

# Python & Training
venv/
__pycache__/
*.pyc
logs/
scripts/training_results/
*.pt
*.onnx

# MuJoCo temp
*.log
MUJOCO_LOG.TXT

# IDE
.vscode/
.idea/
