<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_humanoid">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.71814292951008E-05 0.00162414381721163 -0.0125699477944302"
        rpy="0 0 0" />
      <mass
        value="0.0483184538892821" />
      <inertia
        ixx="1.5828128500131E-05"
        ixy="8.31810832114209E-07"
        ixz="-1.08217563471798E-07"
        iyy="3.94036713713429E-05"
        iyz="-3.07180859272078E-06"
        izz="3.9835265766736E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_hip_left_link">
    <inertial>
      <origin
        xyz="0.00998733125009015 -9.54018090082442E-08 0.0218258507155665"
        rpy="0 0 0" />
      <mass
        value="0.0540513645564241" />
      <inertia
        ixx="8.31443088725718E-06"
        ixy="-1.04977311685993E-10"
        ixz="-9.67413604292657E-09"
        iyy="1.38876292557304E-05"
        iyz="-5.07151850503616E-11"
        izz="9.16994848595296E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_hip_left_joint"
    type="revolute">
    <origin
      xyz="-0.0357002452027679 -0.0192546745613186 -0.0270000000000002"
      rpy="1.57079632679489 0 3.10636797599247" />
    <parent
      link="base_link" />
    <child
      link="base_hip_left_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_hip_left_link">
    <inertial>
      <origin
        xyz="-0.00725289953364111 -0.00912877955014768 -0.0183825911082181"
        rpy="0 0 0" />
      <mass
        value="0.0760372497010778" />
      <inertia
        ixx="2.15342673620385E-05"
        ixy="3.64452827526652E-07"
        ixz="-9.67409390122196E-09"
        iyy="1.91127561027062E-05"
        iyz="-2.1025759232763E-10"
        izz="2.04335330771748E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_hip_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_hip_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_hip_left_joint"
    type="revolute">
    <origin
      xyz="0.0295000000000003 -0.0205000000000002 0.0105000000000001"
      rpy="0 1.5707963267949 0" />
    <parent
      link="base_hip_left_link" />
    <child
      link="hip_hip_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_knee_left_link">
    <inertial>
      <origin
        xyz="6.75289747210928E-08 -0.0230508584862589 -0.0182598647749761"
        rpy="0 0 0" />
      <mass
        value="0.0763616529153324" />
      <inertia
        ixx="3.20341469339E-05"
        ixy="-1.04977030466144E-10"
        ixz="-5.07157220378868E-11"
        iyy="1.19774258476731E-05"
        iyz="-9.6741363776694E-09"
        izz="2.3686936638425E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_knee_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_knee_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_knee_left_joint"
    type="revolute">
    <origin
      xyz="0 -0.0599999999999997 0"
      rpy="0 0 0" />
    <parent
      link="hip_hip_left_link" />
    <child
      link="hip_knee_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_ankle_left_link">
    <inertial>
      <origin
        xyz="-0.000996730313927614 -0.0274353612822384 -0.0187052426925535"
        rpy="0 0 0" />
      <mass
        value="0.0276035181342435" />
      <inertia
        ixx="9.49152414080072E-06"
        ixy="1.6471871683677E-06"
        ixz="4.48957279114098E-07"
        iyy="9.98822104115908E-06"
        iyz="-1.44787293328077E-06"
        izz="9.56428420322295E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_ankle_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_ankle_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_ankle_left_joint"
    type="revolute">
    <origin
      xyz="0 -0.1034 0"
      rpy="0 0 0" />
    <parent
      link="hip_knee_left_link" />
    <child
      link="knee_ankle_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_knee_left_link">
    <inertial>
      <origin
        xyz="-0.00809509712634154 -0.00727461919403322 -0.0218892657362359"
        rpy="0 0 0" />
      <mass
        value="0.0850053645564241" />
      <inertia
        ixx="2.80542145236208E-05"
        ixy="5.9871952276625E-07"
        ixz="-9.67413604291823E-09"
        iyy="4.73017474375486E-05"
        iyz="5.07151850901861E-11"
        izz="2.35375503041348E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_knee_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_knee_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_knee_left_link"
    type="revolute">
    <origin
      xyz="0.0214999999999998 -0.0570000000000001 -0.0179999999999996"
      rpy="0 1.5707963267949 0" />
    <parent
      link="knee_ankle_left_link" />
    <child
      link="knee_knee_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_hip_right_link">
    <inertial>
      <origin
        xyz="0.00998733127584362 9.54022846832991E-08 -0.0218258506840351"
        rpy="0 0 0" />
      <mass
        value="0.0540513645953296" />
      <inertia
        ixx="8.31443085186394E-06"
        ixy="1.04977070438333E-10"
        ixz="9.67415328291587E-09"
        iyy="1.38876292211578E-05"
        iyz="-5.0714958169256E-11"
        izz="9.1699484923473E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_hip_right_joint"
    type="revolute">
    <origin
      xyz="0.0342563320604241 -0.0217198921214098 -0.0270000000000003"
      rpy="1.5707963267949 0 -0.0352246775973258" />
    <parent
      link="base_link" />
    <child
      link="base_hip_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_hip_right_link">
    <inertial>
      <origin
        xyz="0.00725289955334871 -0.00912967372570986 -0.0218825910895709"
        rpy="0 0 0" />
      <mass
        value="0.0760372497399833" />
      <inertia
        ixx="2.15342673266452E-05"
        ixy="-3.64242533917729E-07"
        ixz="9.67411305043885E-09"
        iyy="1.91127560681337E-05"
        iyz="2.10257819214275E-10"
        izz="2.04335330835691E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_hip_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_hip_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_hip_right_joint"
    type="revolute">
    <origin
      xyz="0.0308999999999979 -0.0204999999999999 -0.0125999999999999"
      rpy="0 1.5707963267949 0" />
    <parent
      link="base_hip_right_link" />
    <child
      link="hip_hip_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_knee_right_link">
    <inertial>
      <origin
        xyz="6.75289746274177E-08 -0.0230508584862588 -0.0217598647749887"
        rpy="0 0 0" />
      <mass
        value="0.0763616529153324" />
      <inertia
        ixx="3.20341469339E-05"
        ixy="-1.04977030422494E-10"
        ixz="-5.07157220413808E-11"
        iyy="1.1977425847673E-05"
        iyz="-9.67413637767328E-09"
        izz="2.3686936638425E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_knee_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_knee_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_knee_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.0599999999999997 0"
      rpy="0 0 0" />
    <parent
      link="hip_hip_right_link" />
    <child
      link="hip_knee_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_ankle_right_link">
    <inertial>
      <origin
        xyz="0.00412948612073463 -0.0232868831521371 -0.022359291290475"
        rpy="0 0 0" />
      <mass
        value="0.0226549246672409" />
      <inertia
        ixx="8.38885175713711E-06"
        ixy="1.69069288249236E-06"
        ixz="4.48957279114109E-07"
        iyy="9.6017465092007E-06"
        iyz="-1.44787293328078E-06"
        izz="8.80747684602841E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_ankle_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/knee_ankle_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_ankle_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.1034 0"
      rpy="0 0 0" />
    <parent
      link="hip_knee_right_link" />
    <child
      link="knee_ankle_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ankle_ankle_right_link">
    <inertial>
      <origin
        xyz="-0.00800882305238891 -0.00719708942205438 -0.0220325515118768"
        rpy="0 0 0" />
      <mass
        value="0.0859210745253492" />
      <inertia
        ixx="2.80785040387897E-05"
        ixy="5.98719522766304E-07"
        ixz="-9.67413604291617E-09"
        iyy="4.73260369527174E-05"
        iyz="5.07151851120794E-11"
        izz="2.35857406634983E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/ankle_ankle_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/ankle_ankle_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_ankle_right_joint"
    type="revolute">
    <origin
      xyz="0.0214999999999996 -0.0570000000000001 -0.0215000000000021"
      rpy="0 1.5707963267949 0" />
    <parent
      link="knee_ankle_right_link" />
    <child
      link="ankle_ankle_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_hip_middle_link">
    <inertial>
      <origin
        xyz="-0.00014372481053495 0.0147280243467621 0.0797673295394493"
        rpy="0 0 0" />
      <mass
        value="0.319775934585669" />
      <inertia
        ixx="0.000482594760707047"
        ixy="-2.14638462617493E-07"
        ixz="-2.40807211312246E-08"
        iyy="0.000836183966131393"
        iyz="4.64558426110986E-07"
        izz="0.000519966258401027" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_middle_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/base_hip_middle_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_hip_middle_joint"
    type="revolute">
    <origin
      xyz="0 0 0.00479999999999899"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_hip_middle_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_shoulder_left_link">
    <inertial>
      <origin
        xyz="-0.00998733125339053 9.54016017643E-08 0.0218258506936421"
        rpy="0 0 0" />
      <mass
        value="0.054051364576062" />
      <inertia
        ixx="8.31443086285313E-06"
        ixy="-1.04977224240015E-10"
        ixz="9.67413631361203E-09"
        iyy="1.38876292348192E-05"
        iyz="5.07154008417446E-11"
        izz="9.1699484923172E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_shoulder_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_shoulder_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_shoulder_left_joint"
    type="revolute">
    <origin
      xyz="-0.108 0.0195000000000005 0.1093"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_hip_middle_link" />
    <child
      link="hip_shoulder_left_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_shoulder_left_link">
    <inertial>
      <origin
        xyz="0.00698877986722092 -0.00900750540517045 -0.0222510209212018"
        rpy="0 0 0" />
      <mass
        value="0.0772422226634493" />
      <inertia
        ixx="2.27816658550064E-05"
        ixy="1.0514683761463E-10"
        ixz="9.6740951265256E-09"
        iyy="1.92566185038471E-05"
        iyz="2.10254567355211E-10"
        izz="2.18215807571956E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_shoulder_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_shoulder_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_shoulder_left_joint"
    type="revolute">
    <origin
      xyz="0.0105000000000001 -0.0205 0.0309"
      rpy="0 1.5707963267949 0" />
    <parent
      link="hip_shoulder_left_link" />
    <child
      link="shoulder_shoulder_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_elbow_left_link">
    <inertial>
      <origin
        xyz="9.54015963727795E-08 -0.00998733125338652 -0.0218258506936436"
        rpy="0 0 0" />
      <mass
        value="0.054051364576062" />
      <inertia
        ixx="1.38876292348193E-05"
        ixy="-1.04977224222198E-10"
        ixz="-5.07154008649319E-11"
        iyy="8.31443086285313E-06"
        iyz="-9.67413631361389E-09"
        izz="9.1699484923172E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_elbow_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_elbow_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_elbow_left_joint"
    type="revolute">
    <origin
      xyz="0 -0.0600000000000008 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_shoulder_left_link" />
    <child
      link="shoulder_elbow_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_shoulder_right_link">
    <inertial>
      <origin
        xyz="-0.00998733125339225 -9.54015961368571E-08 -0.0183258506936381"
        rpy="0 0 0" />
      <mass
        value="0.054051364576062" />
      <inertia
        ixx="8.31443086285314E-06"
        ixy="1.04977224221363E-10"
        ixz="-9.67413631360504E-09"
        iyy="1.38876292348193E-05"
        iyz="5.07154008409099E-11"
        izz="9.16994849231722E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_shoulder_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_shoulder_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_shoulder_right_joint"
    type="revolute">
    <origin
      xyz="0.108 0.0159999999999952 0.1093"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_hip_middle_link" />
    <child
      link="hip_shoulder_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_shoulder_right_link">
    <inertial>
      <origin
        xyz="-0.00698877966188146 -0.00900763892247442 -0.0222510209212036"
        rpy="0 0 0" />
      <mass
        value="0.0772422226634495" />
      <inertia
        ixx="2.27816658550064E-05"
        ixy="1.05146837624441E-10"
        ixz="-9.67417750069178E-09"
        iyy="1.92566185038471E-05"
        iyz="3.11685369052989E-10"
        izz="2.18215807571957E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_shoulder_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_shoulder_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_shoulder_right_joint"
    type="revolute">
    <origin
      xyz="0.0105000000000001 -0.0205000000000001 -0.0274"
      rpy="0 1.5707963267949 0" />
    <parent
      link="hip_shoulder_right_link" />
    <child
      link="shoulder_shoulder_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_elbow_right_link">
    <inertial>
      <origin
        xyz="9.54015961403265E-08 -0.00998733125339241 -0.0253258506936437"
        rpy="0 0 0" />
      <mass
        value="0.054051364576062" />
      <inertia
        ixx="1.38876292348193E-05"
        ixy="-1.04977224243323E-10"
        ixz="-5.07154008571005E-11"
        iyy="8.31443086285314E-06"
        iyz="-9.67413631360017E-09"
        izz="9.16994849231721E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_elbow_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.949019607843137 0.76078431372549 0.180392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/shoulder_elbow_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_elbow_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.0599999999999999 0.00350000000000003"
      rpy="0 0 0" />
    <parent
      link="shoulder_shoulder_right_link" />
    <child
      link="shoulder_elbow_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_head_link">
    <inertial>
      <origin
        xyz="-2.5804011705155E-17 0.00507270976908403 0.0237713170013477"
        rpy="0 0 0" />
      <mass
        value="0.0591715303385524" />
      <inertia
        ixx="1.56595521087006E-05"
        ixy="1.75016680853164E-21"
        ixz="-1.6885073520339E-21"
        iyy="1.56813766729887E-05"
        iyz="8.14385111244614E-08"
        izz="1.59417227079094E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_head_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_humanoid/meshes/hip_head_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_head_joint"
    type="fixed">
    <origin
      xyz="0.00102807858096265 -0.00174999999999934 0.144615997868974"
      rpy="0 0 0" />
    <parent
      link="base_hip_middle_link" />
    <child
      link="hip_head_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>