<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="petg_mu" value="0.7" /> 
  <xacro:property name="petg_kp" value="100000.0" /> <xacro:property name="petg_kd" value="1.0" />

  <xacro:macro name="setup_link" params="link_name">
    <gazebo reference="${link_name}">
      <mu1>${petg_mu}</mu1>
      <mu2>${petg_mu}</mu2>
      <kp>${petg_kp}</kp>
      <kd>${petg_kd}</kd>
      <auto_inertia_params><mass>0.15</mass></auto_inertia_params>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="robot_brain">
    <gazebo>
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <update_rate>100</update_rate>
      </plugin>

      <plugin filename="gz-sim-joint-trajectory-controller-system" name="gz::sim::systems::JointTrajectoryController">
        <topic>/model/humanoid_robot/joint_trajectory</topic>

        <gains joint_name="hip_knee_left_joint">    <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>
        <gains joint_name="hip_knee_right_joint">   <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>

        <gains joint_name="knee_ankle_left_joint">  <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>
        <gains joint_name="knee_ankle_right_joint"> <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>
        
        <gains joint_name="hip_hip_left_joint">     <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>
        <gains joint_name="hip_hip_right_joint">    <p>5000</p> <d>50</d> <i_clamp>0</i_clamp> <max_force>6.0</max_force> </gains>

        <gains joint_name="base_hip_left_joint">    <p>5000</p> <d>50</d> </gains>
        <gains joint_name="base_hip_right_joint">   <p>5000</p> <d>50</d> </gains>
        <gains joint_name="base_hip_middle_joint">  <p>5000</p> <d>50</d> </gains>

        <gains joint_name="knee_knee_left_joint">   <p>5000</p> <d>50</d> </gains>
        <gains joint_name="ankle_ankle_right_joint"><p>5000</p> <d>50</d> </gains>

        </plugin>

      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"></plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="setup_joint" params="joint_name">
    <gazebo reference="${joint_name}">
      <implicitSpringDamper>true</implicitSpringDamper>
      <friction>0.1</friction> 
      <damping>0.1</damping>
    </gazebo>
  </xacro:macro>

</robot>