<?xml version="1.0"?>
<robot name="robot_humanoid" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world_root"/>
  <joint name="world_root_joint" type="fixed">
    <parent link="world_root"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:include filename="$(find ros2_pkg)/urdf/urdf/Robot.urdf" />
  <xacro:include filename="$(find ros2_pkg)/urdf/humanoid_physics.xacro" />

  <xacro:setup_link link_name="base_link" />
  <xacro:setup_link link_name="base_hip_middle_link" />
  <xacro:setup_link link_name="hip_head_link" />

  <xacro:setup_link link_name="base_hip_left_link" />
  <xacro:setup_link link_name="hip_hip_left_link" />
  <xacro:setup_link link_name="hip_knee_left_link" />
  <xacro:setup_link link_name="knee_ankle_left_link" />
  <xacro:setup_link link_name="knee_knee_left_link" />

  <xacro:setup_link link_name="base_hip_right_link" />
  <xacro:setup_link link_name="hip_hip_right_link" />
  <xacro:setup_link link_name="hip_knee_right_link" />
  <xacro:setup_link link_name="knee_ankle_right_link" />
  <xacro:setup_link link_name="ankle_ankle_right_link" />

  <xacro:setup_link link_name="hip_shoulder_left_link" />
  <xacro:setup_link link_name="shoulder_shoulder_left_link" />
  <xacro:setup_link link_name="shoulder_elbow_left_link" />
  
  <xacro:setup_link link_name="hip_shoulder_right_link" />
  <xacro:setup_link link_name="shoulder_shoulder_right_link" />
  <xacro:setup_link link_name="shoulder_elbow_right_link" />


  <gazebo reference="hip_head_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
    </sensor>
  </gazebo>

  <xacro:robot_brain />


  <xacro:setup_joint joint_name="base_hip_middle_joint" />
  <xacro:setup_joint joint_name="base_hip_left_joint" />
  <xacro:setup_joint joint_name="base_hip_right_joint" />

  <xacro:setup_joint joint_name="hip_hip_left_joint" />
  <xacro:setup_joint joint_name="hip_knee_left_joint" />
  <xacro:setup_joint joint_name="knee_ankle_left_joint" />
  <xacro:setup_joint joint_name="knee_knee_left_joint" /> <xacro:setup_joint joint_name="hip_hip_right_joint" />
  <xacro:setup_joint joint_name="hip_knee_right_joint" />
  <xacro:setup_joint joint_name="knee_ankle_right_joint" />
  <xacro:setup_joint joint_name="ankle_ankle_right_joint" /> <xacro:setup_joint joint_name="hip_shoulder_left_joint" />
  <xacro:setup_joint joint_name="shoulder_shoulder_left_joint" />
  <xacro:setup_joint joint_name="shoulder_elbow_left_joint" />
  
  <xacro:setup_joint joint_name="hip_shoulder_right_joint" />
  <xacro:setup_joint joint_name="shoulder_shoulder_right_joint" />
  <xacro:setup_joint joint_name="shoulder_elbow_right_joint" />

</robot>